[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ERC721A"]
	path = lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
